html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("backgroundimage.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}